@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Rock+Salt&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    transition:all .5s ease-in-out;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 18vh;
    width: auto;
    background-size: cover;
}

/*index*/
.div-header{
    display: flex;
    gap: 12rem;
    align-items: center;
}
#fondo{
    width: 30rem;
    margin-left: 16rem;
}
main{
   min-height:100vh;
   width: 100%;
   text-align: center;
}

#petLogo{
    height:5rem;
    filter: drop-shadow(4px 3px 3px rgb(173, 173, 173) )
}
#petLogo:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
h1{
    stroke-dasharray:1x 0.5x 2.5x;
    color: #BF681B!important;
    font-size:2.7rem !important;
    font-family: 'Arvo', serif;
    font-family: 'Rock Salt', cursive; 
    filter: drop-shadow(4px 3px 3px rgb(173, 173, 173) )
}
.nav{
    display: flex;
    gap: 1rem;
    font-family: 'Arvo', serif;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}
#menu-hambur{
    background-color: #57be8e !important;
}
#carouselExampleControlsNoTouching{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-size: contain;
}

#carrusel{
    width: 99%;
}

#product-des{
    background-color: #57be8e !important;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.png1 {
    width: 3rem;
    height: 3rem;
  }
  .png2 {
    width: 2.4rem;
    height: 2.4rem;
  }
  #container-png {
    width: 12rem;
    margin-left: 3rem;
  }
  p{
    font-family: 'Arvo', serif;
  }
  .img-dogcat{
    width:20rem;
    height: 13rem;
  }
  #quienes{
    color: #BF681B ;
    font-size: 1.7rem !important;
  }

  #dondeEstamos{
    color: #BF681B ;
    font-size: 1.7rem;
  }

  #nav-principal{
    display: flex !important;
    background-color: rgb(255, 255, 255) !important;
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }

  /*farmacia y jugueteria*/

h2 {
    text-align: center;
    color: black;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 !important;
}
#search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    height: auto;
    background-color: #57be8e;
    color: black;
}

#search div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
    font-size: 1.1rem;
    min-width: 8rem;
}

#search input[type="checkbox"]{
    display: none;
}

#search label {
    background: #57be8e;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
}

#search input[type=checkbox]:checked + label{
    border-left: 5px solid white;
}

#box-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 54.8vh;
    background-color: #e6e6e6 !important;
}

.card {
    margin: 4.1rem 2rem 4.1rem 2rem;
    height: auto;
    border: 5px solid green !important;
    background-color: rgba(128, 128, 128, 0.531);
}

.img-box {
    height: 16rem;
    object-fit: cover;
}

.card p{
    min-height: 8rem;
}

.last-units {
    color: red;
}

.btn {
    background-color: #57be8e !important;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*details*/

.main-details{
    background-color: #e6e6e6;
}

#details-div {
    margin-top: 5rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#details-div .details-card {
    display: flex;
    flex-wrap: wrap;
    width: 80% !important;
    height: auto;
    font-size: 1.5rem;
    justify-content: center;
    gap: 20rem;
    color: black;
}

.details-card img{
    flex-wrap: wrap;
    margin-top: 2rem;
    height: 30rem;
    width: 30rem;
}

.details-title{
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.details-body h6{
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.details-pricediv{
    flex-wrap: wrap;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-price{
    flex-wrap: wrap;
    font-size: 2rem;
}

.details-cart{
    flex-wrap: wrap;
    color: blue;
}

.h2-description{
    display: flex;
    width: 100%;
    justify-content: center;
}

.details-text{
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    color: black;
}

/* CONTACTO */

.main-contact{
    background-color: #e6e6e6;
}

form{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    border-radius: 15px !important;
    margin-top: 2rem !important;
    width: 60rem !important;
    min-height: 35rem !important;
    background-color: white;
}
.form2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    border-radius: 15px !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    width: 60rem;;
    min-height:25rem !important;
    background-color: white;
}

iframe{
    width: auto;
    border-radius: 15px;
}

.mb-3{
margin-left: 2rem;
margin-right: 2rem;
margin-top: 2rem;
}
.btn{
    margin-top: 2rem;
}
#mensaje{
    margin-left: 2rem;
    margin-top: 2rem !important;
}

/*carro*/

.carrito-main{
    background-color: #e6e6e6;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajusta la altura del contenedor al 100% del viewport */
    text-align: center;
    
  }
  
  .cart form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Ajusta el margen superior según sea necesario */
    height: auto !important;
  }
  
  .cart input {
    margin: 1rem 0;
    width: 90%; /* Cambia min-width a width para ocupar más espacio horizontalmente */
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
  }
  
  .cart button {
    background-color: #57be8e;
    color: black;
  }

  .btn-compra{
    position: relative;
    bottom: 150px;
  }

  .carrito-main p{
    margin: 1rem 0;
    font-size: 1.4rem;
}
  
  


/*footer*/

footer{
    display: flex;
    height:9vh;
    width: auto !important;
    background-color: #57be8e !important;
}

@media only screen and (min-width:660px) and (max-width:1024) {
    form {
      width: 90% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  
    .form2 {
      width: 90% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    /*details*/

    .main-details{
    background-color: #e6e6e6;
    }

    #details-div {
        margin-top: 5rem;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #details-div .details-card {
        display: flex;
        flex-wrap: wrap;
        width: 80% !important;
        height: auto;
        font-size: 1.5rem;
        justify-content: center;
        gap: 0rem;
        color: black;
    }

    .details-card img{
        flex-wrap: wrap;
        margin-top: 2rem;
        height: 30rem;
        width: 30rem;
    }

    .details-title{
        flex-wrap: wrap;
        font-size: 2.5rem;
    }

    .details-body h6{
        flex-wrap: wrap;
        font-size: 1.3rem;
    }

    .details-pricediv{
        flex-wrap: wrap;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details-price{
        flex-wrap: wrap;
        font-size: 2rem;
    }

    .details-cart{
        flex-wrap: wrap;
        color: blue;
    }

    .h2-description{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .details-text{
        width: 80%;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        color: black;
    }
  }

@media only screen and (min-width:320px) and (max-width:660px) {


    .main-index{
        margin-top: 5rem !important;
    }

    main{
        margin-top: 5rem;
    }

    h1{
        font-size: 2rem !important;
    }
    #seccion-final{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        
        }
    #carrusel{
        margin-top: 0rem;
    }
    .container-fluid{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 2rem;
        justify-content: center !important;
    };
  
    h4{
        font-size: 0.5rem;
    }
    .negrita{
        font-size: 0.8rem;
    }
   #petLogo{
    height: 4rem !important;
   }
   .nav{
    display: flex !important;
    gap:0rem !important;
   }
    .img-dogcat{
        width: 15rem;
        height: 9rem;
    }
    #container-png{
        display: flex !important;
        width: 100%;
        justify-content: center !important;
        justify-content: space-around !important;
        margin-left: 0rem;
    }

    form {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .form2 {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

        /*details*/

    .main-details{
        background-color: #e6e6e6;
    }

    #details-div {
        margin-top: 5rem;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #details-div .details-card {
        display: flex;
        flex-wrap: wrap;
        width: 80% !important;
        height: auto;
        font-size: 1.5rem;
        justify-content: center;
        gap: 0rem;
        color: black;
    }

    .details-card img{
        flex-wrap: wrap;
        margin-top: 2rem;
        height: 30rem;
        width: 30rem;
    }

    .details-title{
        flex-wrap: wrap;
        font-size: 2.5rem;
    }

    .details-body h6{
        flex-wrap: wrap;
        font-size: 1.3rem;
    }

    .details-pricediv{
        flex-wrap: wrap;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details-price{
        flex-wrap: wrap;
        font-size: 2rem;
    }

    .details-cart{
        flex-wrap: wrap;
        color: blue;
    }

    .h2-description{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .details-text{
        width: 80%;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        color: black;
    }
}