@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Rock+Salt&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    transition:all .5s ease-in-out;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 18vh;
    width: 100%;
    background-size: cover;
}

/*index*/
.div-header{
    display: flex;
    gap: 12rem;
    align-items: center;
}
#fondo{
    width: 30rem;
    margin-left: 16rem;
}
main{
   min-height:100vh;
   width: 100%;
   text-align: center;
}

#petLogo{
    height:5rem;
}
#petLogo:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
h1{
    stroke-dasharray:1x 0.5x 2.5x;
    color: #BF681B!important;
    font-size:2.7rem !important;
    font-family: 'Arvo', serif;
    font-family: 'Rock Salt', cursive; 
}
.nav{
    display: flex;
    gap: 1rem;
    font-family: 'Arvo', serif;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}
#menu-hambur{
    background-color: #57be8e !important;
}
#carouselExampleControlsNoTouching{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-size: contain;
}

#carrusel{
    width: 99%;
}

#product-des{
    background-color: #57be8e !important;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.png1 {
    width: 3rem;
    height: 3rem;
  }
  .png2 {
    width: 2.4rem;
    height: 2.4rem;
  }
  #container-png {
    width: 12rem;
    margin-left: 3rem;
  }
  p{
    font-family: 'Arvo', serif;
  }
  .img-dogcat{
    width:20rem;
    height: 13rem;
  }
  #quienes{
    color: #BF681B ;
  }
  #nav-principal{
    display: flex !important;
    background-color: rgb(42, 40, 40) !important;
  }

  /*farmacia y jugueteria*/

h2 {
    text-align: center;
    color: black;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 1rem 0;
}
#search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    height: auto;
    background-color: #57be8e;
    color: black;
}

#search div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
    font-size: 1.1rem;
    min-width: 8rem;
}

#search input[type="checkbox"]{
    display: none;
}

#search label {
    background: #57be8e;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
}

#search input[type=checkbox]:checked + label{
    border-left: 5px solid white;
}

#box-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 54.8vh;
}

.card {
    margin: 4.1rem 2rem 4.1rem 2rem;
    height: auto;
    border: 5px solid green !important;
    background-color: rgba(128, 128, 128, 0.531);
}

.img-box {
    height: 16rem;
    object-fit: cover;
}

.card p{
    min-height: 8rem;
}

.last-units {
    color: red;
}

.btn {
    background-color: #57be8e !important;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*details*/

#details-div {
    background-color: rgba(128, 128, 128, 0.644);
    margin-top: 5rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#details-div .details-card {
    display: flex;
    width: 80% !important;
    height: auto;
    font-size: 1.5rem;
    justify-content: center;
    gap: 20rem;
    color: black;
}

.details-card img{
    margin-top: 2rem;
    height: 30rem;
    width: 30rem;
}

.details-title{
    font-size: 2.5rem;
}

.details-body h6{
    font-size: 1.3rem;
}

.details-pricediv{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-price{
    font-size: 2rem;
}

.details-cart{
    color: blue;
}

.h2-description{
    display: flex;
    width: 100%;
    justify-content: center;
}

.details-text{
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    color: black;
}

/*contacto*/

section {
    display: flex;
    justify-content: space-evenly;
}
.div-map {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-evenly;
    border: 2px solid #57be8e;
    border-radius: 10px;
    height: 80vh;
    width: 40%;
    background-color: #57be8e;
}
.div-h5 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.div-h5 a {
    text-decoration: none;
}
iframe {
    margin-top: 2rem;
    display: flex;
    height: 30rem;
    width: 30rem;
}
form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    height: 80vh;
    width: 40%;
    margin-top: 1rem;
    border: 2px solid #57be8e;
    border-radius: 10px;
    background-color: #57be8e;
}
a {
    text-decoration: none;
}

/*carro*/

button {
    background-color: #57be8e;
}


/*footer*/

footer{
    display: flex;
    height:auto;
    width: 100vw !important;
    background-color: #57be8e !important;
}

@media only screen and (min-width:320px) and (max-width:660px) {

    main{
        margin-top: 5rem;
    }

    h1{
        font-size: 2rem !important;
    }
    #seccion-final{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        
        }
    #carrusel{
        margin-top: 12rem;
    }
    .container-fluid{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 2rem;
        justify-content: center !important;
    };
  
    h4{
        font-size: 0.5rem;
    }
    .negrita{
        font-size: 0.8rem;
    }
   #petLogo{
    height: 4rem !important;
   }
   .nav{
    display: flex !important;
    gap:0rem !important;
   }
.img-dogcat{
    width: 15rem;
    height: 9rem;
}
#container-png{
    display: flex !important;
    width: 100%;
    justify-content: center !important;
    justify-content: space-around !important;
    margin-left: 0rem;
}
  }